{% extends 'dental/base.html' %}
{% load static %}
{% block content %}



<style>
    .accordion {
        display: flex;
        width: 90%;
        margin: auto;

        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;        
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;

font-family: 'Gilroy-Regular';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 25px;
color: #000000;
    }
    
    .active, .accordion:hover {
        background-color: #ccc; 
    }
    
    .panel {
        display: flex;
        width: 88%;
        margin: auto;

        padding: 0 18px;
        display: none;
        background-color: white;
        overflow: hidden;
    }
    </style>
    

<figure><img src="{% static "dental/images/prices.jpg" %}" alt="My image"/></figure>
    <button class="accordion">Консультация</button>
    <div class="panel">
        
      <p>Прием (осмотр, консультация) врача-стоматолога первичный - 1 100 р.</p>
      <p>Прием (осмотр, консультация) ортодонта первичный - 1 500 р.</p>
      <p>Прием (осмотр, консультация) стоматолога-ортодонта по вопросам ВНЧС первичный - 2 500 р.</p>
      <p>Прием, консультация врача стоматолога-пародонтолога, к.м.н. с использованием комплексной диагностики на основе искусттвенного интеллекта, первичный - 3 200 р.</p>      
    </div>
    
    <button class="accordion">Диагностика</button>
    <div class="panel">
        <p>Компьютерная томография височно-нижнечелюстных суставов (две томограммы одного сустава в открытом и закрытом положении) - 3 300 руб.</p>
        <p>Компьютерная томография височно-нижнечелюстных суставов (один сустав, в одном положении) - 1 650 руб.</p>
        <p>Компьютерная томография челюстно-лицевой области, 13 * 15 (верхняя и нижняя челюсть, гайморовы пазухи) - 3 960 руб.</p>
        <p>Компьютерная томография челюстно-лицевой области, 8 * 15 (верхняя и нижняя челюсть) - 3 520 руб.</p>
        <p>Компьютерная томография челюстно-лицевой области, 6 * 8 (одна челюсть) - 1 760 руб.</p>
        <p>ТРГ - 1 430 руб</p>
        <p>Ортопантомография цифровая (ОПТГ) - 1 100 руб.</p>

    </div>
    
    <button class="accordion">Отбеливание</button>
    <div class="panel">
      <p>Профессиональное отбеливание зубов клиническое ламповое ZOOM4 (обе челюсти) - 43 900 руб.</p>
      <p>Профессиональное отбеливание зубов Beyond клиническое за один визит (2 челюсти в линии улыбки) аппаратом - 24 900 руб.</p>   

    </div>

    <button class="accordion">Детская терапия</button>
    <div class="panel">
        <p>Прием (осмотр, консультация) врача-стоматолога детского первичный - 660 руб.</p>
        <p>Прием (осмотр, консультация) врача-стоматолога детского повторный - 440 руб.</p>
        <p>Местное применение реминерализующих препаратов в области одного зуба (фтор-лак, бифлюорит) - 275 руб.</p>
        <p>Местное применение реминерализующих препаратов в области всех зубов- кабинетная профилактика фтор-содержащим гелем - 3540 руб.</p>   
        <p>Глубокое фторирование твердых тканей зубов (Эмаль-ликвид) - 429 руб.</p>
        <p>Запечатывание фиссуры зуба герметиком без расшлифовывания - 2145 руб.</p>
        <p>Запечатывание фиссуры зуба герметиком с расшлифовыванием - 1980 руб.</p>
        <p>Профессиональная гигиена полости рта и зубов. "Denticure Kids" (7-13 лет) - 4500 руб.</p>
        <p>Восстановление молочного зуба пломбой с использованием материалов из фотополимеров - 2750 руб.</p>
        <p>Восстановление молочного зуба пломбой с использованием материалов из стеклоиномеров - 2310 руб. р.</p>
        <p>Полировка зуба, пломбы - 440 руб.</p>
        <p>Сошлифовывание пломбы, временной пломбы - 440 руб.</p>
        <p>Пульпотомия (ампутация коронковой пульпы), девитальная - 935 руб.</p>
        <p>Пульпотомия (ампутация коронковой пульпы), витальная - 1485 руб.</p>
        <p>Экстрипация пульпы - 605 руб.</p>
        <p>Наложение временной пломбы (детство) - 550 руб.</p>
        <p>Наложение девитализирующей пасты (детство) - 935 руб.</p>
        <p>Наложение лечебной изолирующей прокладки - 935 руб.</p>
        <p>Инструментальная и медикаментозная обработка корневого канала молочного зуба - 770 руб.</p>
        <p>Аппликация мазевая на слизистую оболочку полости рта - 165 руб.</p>
        <p>Удаление наддесневых зубных отложений Щетка+паста. (1 зуб) - 165 руб.</p>    

    </div>
    
    <script>
    let acc = document.getElementsByClassName("accordion");
    let i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            let panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        });
    }
    </script>

<style>
    figure {
     width: 90%; /* Ширина области */
     /* min-height: 200px; Высота области */
     margin: 0 auto; /* Обнуляем отступы */
     /* overflow: hidden; Прячем всё за пределами */
     /* min-width: 300px; Минимальная ширина */
    }
    figure img { 
     width: 100%; /* Ширина изображений */
     margin: -1% 0 0 0; /* Сдвигаем вверх */
    }
    
</style>


{% endblock %}