{% extends 'dental/base.html' %}
{% load static %}
{% block content %}
<h1>{{title}}</h1>
<figure><img src="{% static "dental/images/4.webp" %}" alt="My image"/></figure>
<div data-aos="fade-up" class="col-xl-7 col-lg-9 col-md-12 col-sm-12 col-12 aos-init aos-animate"><div class="h2 mb80"><h3 style="all: unset;">Предоставляемые виды услуг</h3></div> <p>Стоматологическая клиника предоставляет полный спектр услуг, которые отвечают всем стандартам качества современной стоматологии. К ним относятся:
    <br></p> <ul><li>Терапевтическая стоматология
    <br>
    Лечение и перелечивание кариеса любой сложности, а также некариозных поражений. Избавление от осложнений, которые вызваны несвоевременным обращением к стоматологу - пульпит, периодонтит и др.
    <br>
    Восстановление естественной морфологии зуба. Используем материал европейского качества.
    </li> <li>Эстетическая стоматология
    <br>
    Проводим комплексную реставрацию зубов с применением авторских виниров. В результате вы получаете безупречную улыбку, о которой Вы давно мечтали.
    <br>
    Отбеливание по современной технологии за один сеанс. После процедуры не повышается чувствительность эмали, а откорректированный цвет сохраняется на 3-4 года. Во время процедуры происходит минерализация и устранение дефектов эмалевого слоя. Таким образом снижается риск возникновения кариозных полостей.
    </li> <li>Пародонтология
    <br>
    Пародонтит - воспаление десен, которое приводит к ослаблению связочного аппарата и расшатыванию единиц. Отсутствие лечение приводит к потере зуба.
    <br>
    Пародонтолог, к.м.н., основываясь на междисциплинарном подходе, проводит комплексное лечение, которое повышает устойчивость зуба в ложе и снимает воспаление десен.
    </li> <li>Хирургическая стоматология
    <br>
    Стоматологи - хирурги проводят экстирпацию зубов, которые не поддаются терапевтическому лечению.
    <br>
    Все зубосохраняющие и эстетические операции, которые восстанавливают жевательную функцию и влияют на эстетический вид.
    </li> <li>Протезирование
    <br>
    На консультации врач расскажет вам обо всех видах протезирования и подберёт наиболее подходящий способ воссоздания ваших зубов.
    <br> <br>
    Стоматология предлагает:
    <br> <br> <ul><li>Съемные и несъемные протезы</li> <li>Микропротезирование</li> <li>Протезирование на имплантах</li> <li>Коронки и конструкции из металлокерамики, цельной керамики и диоксида циркония</li></ul></li> <li>Имплантация
    <br>
    Зубной ряд восстанавливается с помощью вживления искусственных корней на которые крепятся коронки. Преимуществом считается: длительный срок службы, отсутствие необходимости препарирования зубов, восстановление жевательной функции, полное сходство с натуральными единицами.
    <br> <br>
    Установка имплантатов бывает:
    <br> <br> <ul><li>Моментальной</li> <li>Двухэтапной (классический способ)</li> <li>Комбинированной</li></ul></li></ul>
    
</div>
<style>
    figure {
     width: 90%; /* Ширина области */
     min-height: 200px; /* Высота области */
     margin: 0 auto; /* Обнуляем отступы */
     overflow: hidden; /* Прячем всё за пределами */
     min-width: 300px; /* Минимальная ширина */
    }
    figure img { 
     width: 100%; /* Ширина изображений */
     margin: -10% 0 0 0; /* Сдвигаем вверх */
    }
</style>
{% endblock %}